
Backup Data/big_data_r1_a1_e1_d1.mat
Backup Data/big_data_r1_a1_e1_d3.mat
Backup Data/big_data_r1_a1_e5_d1.mat
Backup Data/big_data_r1_a1_e5_d3.mat
Backup Data/big_data_r1_a5_e1_d1.mat
Backup Data/big_data_r1_a5_e1_d3.mat
Backup Data/big_data_r1_a5_e5_d1.mat
Backup Data/big_data_r1_a5_e5_d3.mat
Backup Data/big_data_r2_a1_e1_d1.mat
Backup Data/big_data_r2_a1_e1_d3.mat
Backup Data/big_data_r2_a1_e5_d1.mat
Backup Data/big_data_r2_a1_e5_d3.mat
Backup Data/big_data_r2_a5_e1_d1.mat
Backup Data/big_data_r2_a5_e1_d3.mat
Backup Data/big_data_r2_a5_e5_d1.mat
Backup Data/big_data_r2_a5_e5_d3.mat
Backup Data/big_data_r3_a1_e1_d1.mat
Backup Data/big_data_r3_a1_e1_d3.mat
Backup Data/big_data_r3_a1_e5_d1.mat
Backup Data/big_data_r3_a1_e5_d3.mat
Backup Data/big_data_r3_a5_e1_d1.mat
Backup Data/big_data_r3_a5_e1_d3.mat
Backup Data/big_data_r3_a5_e5_d1.mat
Backup Data/big_data_r3_a5_e5_d3.mat
Backup Data/Univ Ave and 13 St_Data Collection Results_1 - 10000.att
Backup Data/Univ Ave and 13 St_Data Collection Results_1 - 10000.xlsx
Backup Data/Univ Ave and 13 St_Data Collection Results_10001 - 15000.att
Backup Data/Univ Ave and 13 St_Data Collection Results_10001 - 15000.xlsx
Backup Data/Univ Ave and 13 St_Data Collection Results_15001 - 16000.att
Backup Data/Univ Ave and 13 St_Data Collection Results_15001 - 16000.xlsx
Backup Data/Univ Ave and 13 St_Data Collection Results_16001 - 18000.att
Backup Data/Univ Ave and 13 St_Data Collection Results_16001 - 18000.xlsx
Backup Data/Univ Ave and 13 St_Data Collection Results_18001 - 19000.att
Backup Data/Univ Ave and 13 St_Data Collection Results_18001 - 19000.xlsx
Backup Data/Univ Ave and 13 St_Data Collection Results_19001 - 20000.att
Backup Data/Univ Ave and 13 St_Data Collection Results_19001 - 20000.xlsx
Backup Data/Univ Ave and 13 St_Data Collection Results_20001 - 40000.att
Backup Data/Univ Ave and 13 St_Data Collection Results_20001 - 40000.xlsx
Backup Data/Univ Ave and 13 St_Data Collection Results_40001 - 46728.att
Backup Data/Univ Ave and 13 St_Data Collection Results_40001 - 46728.xlsx
Backup Data/Univ Ave and 13 St_Data Collection Results_46729 - 50000.att
Backup Data/Univ Ave and 13 St_Data Collection Results_46729 - 50000.xlsx
Backup Data/Univ Ave and 13 St_Data Collection Results_50001 - 60000.att
Backup Data/Univ Ave and 13 St_Data Collection Results_50001 - 60000.xlsx
Backup Data/Univ Ave and 13 St_Data Collection Results_60001 - 63057.att
Backup Data/Univ Ave and 13 St_Data Collection Results_60001 - 63057.xlsx
Backup Data/Univ Ave and 13 St_Data Collection Results_63058 - 69434.att
Backup Data/Univ Ave and 13 St_Data Collection Results_63058 - 69434.xlsx
Backup Data/Univ Ave and 13 St_Data Collection Results_69435 - 70000.att
Backup Data/Univ Ave and 13 St_Data Collection Results_69435 - 70000.xlsx
Backup Data/Univ Ave and 13 St_Data Collection Results_70001 - 90000.att
Backup Data/Univ Ave and 13 St_Data Collection Results_70001 - 90000.xlsx
Backup Data/Univ Ave and 13 St_Data Collection Results_90001 - 100000.att
Backup Data/Univ Ave and 13 St_Data Collection Results_90001 - 100000.xlsx
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_1 - 10000.att
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_1 - 10000.xlsx
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_10001 - 15000.att
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_10001 - 15000.xlsx
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_15001 - 16000.att
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_15001 - 16000.xlsx
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_16001 - 18000.att
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_16001 - 18000.xlsx
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_18001 - 19000.att
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_18001 - 19000.xlsx
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_19001 - 20000.att
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_19001 - 20000.xlsx
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_20001 - 40000.att
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_20001 - 40000.xlsx
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_40001 - 46728.att
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_40001 - 46728.xlsx
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_46729 - 50000.att
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_46729 - 50000.xlsx
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_50001 - 60000.att
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_50001 - 60000.xlsx
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_60001 - 63057.att
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_60001 - 63057.xlsx
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_63058 - 69434.att
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_63058 - 69434.xlsx
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_69435 - 70000.att
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_69435 - 70000.xlsx
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_70001 - 90000.att
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_70001 - 90000.xlsx
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_90001 - 100000.att
Backup Data/Univ Ave and 13 St_Vehicle Travel Time Results_90001 - 100000.xlsx
Completed Data/big_data_r1.mat
Completed Data/big_data_r2.mat
Completed Data/big_data_r3.mat
PMF_1.png
PMF_4.png
PMF_5.png
r1_results.mat
r2_results.mat
r3_results.mat
traffic.png
